*{
    font-size: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: blueviolet;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #ffff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0.2);
}

